// root scss file
@import "./variables";
@import "./base.scss";

.navbar {
    width: 100%;
    position: relative;
    .logo img {
        height: 50px;
    }
    & > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown-menu {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        min-width: 200px;
        background-color: #eee;
        padding: 1rem;
        border-radius: .5rem;
        z-index: 3;
        a {
            color: #444;
            padding: .5rem .3rem;
            display: block;
            &:hover {
                color: $primary;
            }
        }
    }
    .btn-toggle {
        display: none;
        button {
            padding: 1rem;
            border: none;
            color: black;
            cursor: pointer;
            border-radius: .5rem;
            background-color: #ddd;
        }
    }
    padding: 2rem; 

    .navbar__menu {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        li {
            position: relative;
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .btn-toggle {
            display: block;
            float: right;
        }
        .navbar__menu {
            position: absolute;
            top: 100%;
            z-index: 100;
            display: none;
            left: 0;
            right: 0;
            width: 100%;
            padding: 1rem;
            background-color: $primary;
            flex-direction: column;
            gap: 0;
            &.show {
                display: block;
            }
            a {
                padding: 1rem;
                transition: all .2s;
                display: block;
                color: white;
                &:hover {
                    transform: translateX(10px);
                }
            }
        }
        .dropdown-menu  {
            display: block;
            background-color: transparent;
            position: initial;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            a {
                padding-left: 3rem;
            }
            a:hover {
                color: white;
            }
            &.active {
                max-height: 100px;
            }
        }
    }
}
.section {
    padding: 3rem;
    .section-header {
        h1 {
            font-size: 3rem;
        }
        &.center {
            text-align: center;
        }
    }
}
.section-about {
    min-height: 700px;
    img {
        width: 100%;
        padding-right: 3rem;
    }
    p {
        margin: 2rem 0;
        line-height: 2rem;
    }
}
.section-hero {
    height: 800px;
    .hero-left {
        padding: 6rem 3rem;
    }
    .hero__title {
        font-size: 3rem;        
    }
    .hero__desc {
        font-size: 1.3rem;
        color: rgb(112, 112, 112);
        margin: 1rem 0;
    }
    .hero-images {
        position: relative;
        height: 100%;
        img {
            max-width: 400px;
            width: 100%;
            height: 100%;
            max-height: 600px;
            object-fit: cover;
            border-radius: 1rem;
            position: absolute;
            &:nth-child(1) {
                left: 0;
                top: 0;
                z-index: 2;
                object-position: right;
                box-shadow: 10px 10px 50px rgba(0,0,0,.5);
            }
            &:nth-child(2) {
                left: 100px;
                object-position: center ;
                top: 100px;
            }
        }
    }
}
.section-map {
    .section-body {
        padding: 3rem;
        td {
            padding: 1rem;
        }
    }
    .map-name {
        padding: 0 1rem;
    }
    .map-value {
        font-size: 1.2rem;
    }
}
a.btn {
    display: inline-block;
}
.btn {
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: none;
    border: none;
    border-radius: .3rem;
    transition: all .2s;
    &.btn-primary {
        background-color: $primary;
        color: #fff;
        &:hover {
            background-color: lighten($primary, 10%);
        }
    }
}
.foods {
    padding: 5rem 0;  
    .food {
        margin-bottom: 3rem;
        img {
            width: 100%;
            height: 400px;
            border-radius: .4rem;
        }
        .food-name {
            font-size: 1.3rem;
            margin: .5rem 0;
            a {
                color: $body-color;
                &:hover {
                    color: $primary
                }
            }
        }
        .food-price {
            margin-top: .4rem;
            color: #777;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .food-desc {
            color: #999;
            font-size: .925rem;
        }
    }
}

footer {
    padding: 1rem;
    border-top: 1px solid rgba($color: darken($primary,10%), $alpha:.2);
    text-align: center;
}

.text-right {
    text-align: right;
}

.section-location img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 10px 20px 30px #ccd;
}
.mb-2 {
    margin-bottom: 1rem;
}
.page-location .section-location {
    margin: 3rem 0;
    .section-body {
        margin: 5rem 0;
    }
}

.branch {
    margin-bottom: 2rem;
}

.form-wrapper {
    width: min(100%, 600px);
    padding: 1rem;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 1rem;
    .form-control {
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid #ddc;
        font-size: 1rem;
        transition: all .2s;

        &:focus {
            border: 1px solid $primary;
            box-shadow: 2px 2px 10px rgba($primary,.2);
            outline: none;
        }
    }
}
.section-slider {
    margin: 5rem 0;
}
.slider-wrapper {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow:hidden;
    .slider {
        flex: none;
        width: 100%;
        transition: all .5s ease-in-out;
    }
    .slider-control {
        a {
            color: white;
        }
        .slider-control-left, .slider-control-right {
            position: absolute;
            top: 50%;
        }
        .slider-control-left {
            left: 10px;
        }
        .slider-control-right {
            right: 10px;
        }
    }
    .slider-image {
        height: 0;
        overflow: hidden;
        padding-top: 32.5%;
        background: white;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 996px) {
    .section-map {
        padding: 0;
        iframe {
            width: 100%;
        }
    }
    .section-hero {
        height: auto;
        .hero-left {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .section-header {
        h1 {
            font-size: 2rem;
        }
    }

    .about-image {
        order: 1;
    }
    .about-text {
        order: 2;
        text-align: left;
    }

    .section {
        padding: 1rem;
    }

}